* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

header {
  border-bottom: 1px solid #444;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 20px;
  width: 100px;
  height: 100px;
}

nav {
  margin-left: 40px;
  display: flex;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  font-size: 22px;
}

nav a:hover {
  color: #7ed957;
}

/* PERFIL */
.icone-perfil {
  margin-left: auto;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  background: #2a2a2a;
  margin-right: 30px;
}

/* MENU MOBILE */
.menu-icon {
  display: none;
  width: 25px;
  cursor: pointer;
}

/* SIDEBAR MOBILE */
.sidebar {
  position: fixed;
  top: 0;
  right: -280px;
  height: 100vh;
  width: 280px;
  background-color: #111;
  padding-top: 60px;
  transition: 0.3s ease;
  z-index: 1001;
  overflow-y: auto;
  border: 1px solid #7ed957;
}

.sidebar.active {
  right: 0;
}

.sidebar a,
.sidebar p {
  display: block;
  padding: 15px 25px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.sidebar p {
  color: #7ed957;
}

.sidebar a:hover {
  background-color: #575757;
  color: #7ed957;
}

.closebtn {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 30px;
  cursor: pointer;
  color: #7ed957;
}

.headerp {
  cursor: default;
  color: #7ed957;
  font-weight: bold;
  font-size: 22px;
}

/* LAYOUT */
.layout-chat {
  display: flex;
  height: calc(100vh - 110px);
  position: relative;
}

/* BOTÃO HISTÓRICO (CORRIGIDO) */
.toggle-historico {
  position: absolute;
  top: 110px;
  z-index: 1000;
  background: #7ed957;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin: 1% 0% 0% 1%;
  height: 42px;
  width: 42px;
}

.novo-chat{
  position: absolute;
  top: 110px;
  left: 5px;
  z-index: 1000;
  background: #334155;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin: 1% 0% 0% 1%;
  height: 42px;
  width: 84px;
  font-size: 14px;
  margin-left: 60px;
}

.toggle-historico:hover {
  transform: scale(1.1);
}

/* HISTÓRICO */
.historico {
  width: 260px;
  background: #111;
  padding: 70px 20px 20px 20px;
  border-right: 1px solid #1e293b;
  transition: 0.3s;
}

.historico h2 {
  margin-bottom: 15px;
}

.historico.fechado {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.item-historico {
  padding: 12px;
  margin-bottom: 10px;
  background: #242323;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.item-historico:hover {
  background: #334155;
  transform: translateX(5px);
}

/* CHAT */
.conteinarChat {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-central {
  width: 100%;
  max-width: 800px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* CAIXA DE RESPOSTA */
.box-resposta {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* MENSAGENS */
.mensagem {
  max-width: 70%;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 18px;
  line-height: 1.5;
  animation: fadeIn 0.3s ease;
}

.ia {
  background: #1e293b;
  align-self: flex-start;
}

.usuario {
  background: #7ed957;
  color: black;
  align-self: flex-end;
}

/* INPUT */
.input-area {
  display: flex;
  padding: 20px;
}

.caixa-pergunta {
  flex: 1;
  padding: 16px;
  border-radius: 20px;
  border: 1px solid #7ed957;
  background: #111;
  color: white;
  outline: none;
}

.botao-enviar {
  margin-left: 10px;
  padding: 12px 18px;
  background: #7ed957;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MOBILE */
@media (max-width: 440px) {

}