*{
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  margin-top: 0;
}

.logo {
  margin: 0px 20px;
  width: 100px;
  height: 100px;
}

/* CONTAINER */
.termos-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

/* TITULO */
.termos-container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.data {
  text-align: center;
  color: #aaa;
  margin-bottom: 25px;
}

/* CAIXA DOS TERMOS */
.termos-box {
  background: #2c3136;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #7ed957;

  max-height: 530px;
  overflow-y: auto;
}

/* SCROLL PERSONALIZADO */
.termos-box::-webkit-scrollbar {
  width: 8px;
}

.termos-box::-webkit-scrollbar-thumb {
  background: #7ed957;
  border-radius: 10px;
}

/* TEXTOS */
.termos-box h2 {
  margin-top: 20px;
  color: #7ed957;
}

.termos-box p {
  margin-top: 10px;
  padding: 8px;
  line-height: 1.6;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}